body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.rightSyncCom {
    padding-right: 300px;
    border-right: 1px solid #80808040;
}

.ordersPage img,
.employessPage img,
.customersPage img {
    width: 100% !important;
}

.ordersPage img,
.customersPage img {
    border-radius: 20px;
}

.ordersPage td button {
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 3px grey;
    padding: 8px !important;
}

.employessPage img {
    border-radius: 50% !important;
}

.ColoringPallete1,
.ColoringPallete2 {
    margin-right: 35px;
}

@media screen and (max-width:325px) {
    .navInfo {
        margin-left: -10px !important;
    }
}

@media screen and (max-width:450px) {
    .ContentSection {
        width: 100%;
    }
    .ColoringPallete1 {
        margin-right: 0 !important;
    }
    .ColoringPallete2 {
        margin-right: 0 !important;
    }
}

@media screen and (max-width:700px) {
    .rightSyncCom {
        padding-right: 0 !important;
        border-right: none;
    }
}